<div class="back-button">
    <button [routerLink]="['/']" mat-icon-button color="basic" aria-label="Full Screen Mode">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="level-wrapper">
    <div class="level-header">
        <div class="select-level-text">Select a Level</div>
        <div class="select-level-animation"></div>
    </div>
    <div class="level-container">
        <mat-card *ngFor="let level of levels" class="level" [class.locked]="level.locked" (click)="onLevelClick(level)">
          <div class="level-number">{{ level.level }}</div>
          <mat-icon *ngIf="level.locked" class="lock-icon">lock</mat-icon>
        </mat-card>
    </div>
</div>

  