<div class="container" (click)="screenClick()">
    <div class="header">
      <h1>Color Memory</h1>
      <p>Test your memory and color recognition skills!</p>
    </div>
    <div class="game-description">
      <p>
        Color Memory is a fun and challenging game where you'll be shown a grid of cells, each with a different color. The colors will only be revealed for a short time. Then, it's up to you to put the original colors back into the cells. Are you up for the challenge?
      </p>
    </div>
    <div class="play-button">
      <button mat-raised-button color="primary" (click)="startGame()">Get Started!</button>
    </div>
    <div style="position: absolute; right: 8px; bottom: 8px">
      <button (click)="toggleFullScreen()" mat-icon-button color="basic" aria-label="Full Screen Mode">
        <mat-icon>fullscreen</mat-icon>
      </button>
    </div>
  </div>
  